{% if mensagens %}
    {% for msg in mensagens %}
        <div class="msg-row {% if msg.de_usuario == session['user_id'] %}me-row{% else %}other-row{% endif %}" id="msg-container-{{ msg.id }}">
            <img src="{{ url_for('static', filename='uploads/' + (usuario_logado.foto if msg.de_usuario == session['user_id'] else usuario_chat.foto)) }}" class="avatar-chat">
            
            <div class="message {% if msg.de_usuario == session['user_id'] %}me{% else %}other{% endif %}">
                
                {% if msg.visualizacao_unica %}
                    <div class="once-badge"><i class="fa-solid fa-eye-slash"></i> Áudio de Visualização Única</div>
                {% endif %}

                {% if msg.mensagem %}
                    <p>{{ msg.mensagem }}</p>
                {% endif %}

                {% if msg.foto %}
                    <img src="{{ url_for('static', filename='uploads/' + msg.foto) }}">
                {% endif %}

                {% if msg.audio %}
                    <audio 
                        src="{{ url_for('static', filename='uploads/' + msg.audio) }}" 
                        controls 
                        {% if msg.visualizacao_unica %} onended="destruirAudio('{{ msg.id }}')" {% endif %}>
                    
                {% endif %}

                {% if msg.de_usuario == session["user_id"] %}
                    <a href="/apagar_mensagem/{{msg.id}}" class="delete-btn">🗑️ Apagar mensagem</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="empty">Nenhuma mensagem ainda 💙</div>
{% endif %}
